{% extends "PublicationBundle:Default:base.html.twig" %}

{% block title %}Liste des laboratoires{% endblock %}
{% block header %}{% endblock %}

{% block body %}

{% if laboratoire is defined %}
	<h1>{{ laboratoire.id }} : {{ laboratoire.nom }}</h1>
{% else %}
<ul>
{% for laboratoire in listeLaboratoire %}
	<li>{{ laboratoire.id }} : {{ laboratoire.nom }}</li>
{% endfor %}
</ul>
{% endif %}

{% endblock %}